body{
    background: #000;
    background-image: url('../img/bg-star-wars.jpg');
}

h1{
    height: 35px;
    font-size: 35px;
}

a{color: #f1dc21;}

a:hover{
    color: #f1dc21;
    opacity: 0.5; 
}

.navbar{
    margin-bottom: 50px;

    .navbar-brand{
        .logo{
            width: 100% !important;
            max-width: 100px !important;
            color: #f1dc21;
        }
    }

    .navbar-nav{
        .active>.nav-link,
        .nav-link:hover{
            color: #f1dc21;
            opacity: 0.5;
        }
        .nav-link{
            color: #f1dc21;
        }
    }
}

.card{
    text-align: center;
    color: #fff;
    background: #575757;
    font-size: 18px;
    margin-bottom: 25px;

    ul{
        li{
            background: #575757;
            font-size: 16px;
        }
    }

    .card-body{
        .dartVader{
            height: 100px;
            width: 100px;
            background: url('../img/darth-vader.png') no-repeat;
            background-size: 100px;
            margin: 15px auto 15px;
        }

        ul.lista li{
            display: block;
            margin: 5px auto 5px;
            height: auto;
            width: 100%;
        }

        ul{
            margin: 0;
            padding: 0;
            li{
                height: 100px;
                width: 100px;
                margin: 25px auto 0;
                list-style: none;
                display: inline-block;
            }
            .clone-1{
                background: url('../img/clone-1.png') no-repeat;
                background-size: 100px;
            }
            .clone-2{
                background: url('../img/clone-2.png') no-repeat;
                background-size: 100px;
            }
            .clone-3{
                background: url('../img/clone-3.png') no-repeat;
                background-size: 100px;
            }
            .clone-4{
                background: url('../img/clone-4.png') no-repeat;
                background-size: 100px;
            }
            .soldier{
                background: url('../img/soldier.png') no-repeat;
                background-size: 100px;
            }
            .bobaFeth{
                background: url('../img/boba-feth.png') no-repeat;
                background-size: 100px;
            }
        }

        button{
            padding: 8px 40px;
        }
    }
}
