body {
  background: #000;
  background-image: url("../img/bg-star-wars.jpg"); }

h1 {
  height: 35px;
  font-size: 35px; }

a {
  color: #f1dc21; }

a:hover {
  color: #f1dc21;
  opacity: 0.5; }

.navbar {
  margin-bottom: 50px; }
  .navbar .navbar-brand .logo {
    width: 100% !important;
    max-width: 100px !important;
    color: #f1dc21; }
  .navbar .navbar-nav .active > .nav-link,
  .navbar .navbar-nav .nav-link:hover {
    color: #f1dc21;
    opacity: 0.5; }
  .navbar .navbar-nav .nav-link {
    color: #f1dc21; }

.card {
  text-align: center;
  color: #fff;
  background: #575757;
  font-size: 18px;
  margin-bottom: 25px; }
  .card ul li {
    background: #575757;
    font-size: 16px; }
  .card .card-body .dartVader {
    height: 100px;
    width: 100px;
    background: url("../img/darth-vader.png") no-repeat;
    background-size: 100px;
    margin: 15px auto 15px; }
  .card .card-body ul.lista li {
    display: block;
    margin: 5px auto 5px;
    height: auto;
    width: 100%; }
  .card .card-body ul {
    margin: 0;
    padding: 0; }
    .card .card-body ul li {
      height: 100px;
      width: 100px;
      margin: 25px auto 0;
      list-style: none;
      display: inline-block; }
    .card .card-body ul .clone-1 {
      background: url("../img/clone-1.png") no-repeat;
      background-size: 100px; }
    .card .card-body ul .clone-2 {
      background: url("../img/clone-2.png") no-repeat;
      background-size: 100px; }
    .card .card-body ul .clone-3 {
      background: url("../img/clone-3.png") no-repeat;
      background-size: 100px; }
    .card .card-body ul .clone-4 {
      background: url("../img/clone-4.png") no-repeat;
      background-size: 100px; }
    .card .card-body ul .soldier {
      background: url("../img/soldier.png") no-repeat;
      background-size: 100px; }
    .card .card-body ul .bobaFeth {
      background: url("../img/boba-feth.png") no-repeat;
      background-size: 100px; }
  .card .card-body button {
    padding: 8px 40px; }
